html {
    font-family: 'Inter', sans-serif;
    width: 1440px;
    height: 1080px;
    background: white;
    margin: auto;
}

#notificationSpace {
    padding: 2%;
    border: 1px solid black;
}

body {
    margin: 20px;
    padding: 10px;
}

#headerArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div#markAsRead {
    color: #0072fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
    font-size: 16px;
}

.notificationItem {
    display: flex;
    align-items: center;
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#notificationArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.notificationItem:hover {
    color: #0072fa;
    background-color: #f6f6f6;
    font-size: 16px;
}

.notificationTimeStamp {
    color: gray;
    font-size: 14px;
}

.icon-tabler-info-circle,
.icon-tabler-lifebuoy,
.icon-tabler-mail {
    background-color: #3475dd;
    border-radius: 50%;
}

#viewAllNotifications {
    color: #0072fa;
}

/* hover states */

div#markAsRead:hover,
#viewAllNotifications:hover {
    text-decoration: underline;
    cursor: pointer;
}